@font-face{
    font-family: 'OLD';
    src: url(../razer.fun.wiki/fonts/ofont.ru_Oldtimer.ttf);
}
@font-face{
    font-family: 'SIL';
    src: url(../razer.fun.wiki/fonts/Silkscreen/Silkscreen-Regular.ttf);
}